* {
  margin: 10;
  padding: 10;
}

.container {
  height: 120vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#d9f9ff;
}

.calculator {
  height: 500px;
  max-width: 5000px;
  border-radius: 10px;
  background-color: #be4dff;
}

.output {
  height: 120px;
  background-color:#4e298a;
  border-radius: 10px;
}

.keys {
  gap: 6px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keys button:first-child {
  color: #ffffff;
  grid-column-end: 3;
  grid-column-start: 1;
  background-color: #999999;
}

.keys button:nth-child(15) {
  color: #ffffff;
  grid-row: 4 / 6;
  grid-column: 4 / 4;
  background-color:#ff4444;
}

.keys button:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input,
.result {
  color: #ffffff;
  height: 50px;
  display: block;
  font-size: 50px;
  text-align: right;
  padding-right: 10px;
}

button {
  border: none;
  font-size: 28px;
  min-width: 80px;
  min-height: 65px;
  border-radius: 4px;
}